body {
  background-color: #808080;
  font-size: large;
}
#outputClock {
  text-align: center;
  font-size: 100px;
  color: rgb(40, 218, 250);
}

.m10 {
  margin: 10px;
}
.fs40 {
  font-size: 40px;
}
